# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environment
venv/
env/

# Ignore environment variables
.env

# Ignore log files
*.log

# Ignore database files
*.sqlite3

# Ignore system files
.DS_Store
Thumbs.db

# Ignore local images
player_board.png
placements.png